<!-- <app-top-nav></app-top-nav> -->
<ul class="h-menu large">
  <li><a routerLink="/" routerLinkActive="active">Home Page</a></li>
  <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
  <li><a routerLink="/random" routerLinkActive="active">Random</a></li>
</ul>

<router-outlet>
  <app-spinner class="loader-overlay" *ngIf="showLoader"></app-spinner>
</router-outlet>
<!--
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet">
        <app-spinner class="loader-overlay" *ngIf="showLoader"></app-spinner>
      </router-outlet>
  </main> -->
